# Работа со структурами данных

### 1. Стек и очередь

In [11]:
stack = [3]

stack.append(6)

stack

[3, 6]

In [12]:
stack.pop()

6

In [13]:
stack.pop()

3

In [19]:
len(stack)

0

In [14]:
stack.pop()

IndexError: pop from empty list

In [15]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])

queue[0]

'Eric'

In [16]:
queue.append('Terry')
queue.append('Graham')

queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [17]:
queue.popleft()

'Eric'

### 2. List comprehensions

In [20]:
squares = []

for x in range(10):
    squares.append(x ** 2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
squares = list(map(lambda x: x**2, range(10)))

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
squares = [x**2 for x in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [25]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [27]:
[[j + 1 for j in range(4*i, 4*(i + 1))] for i in range(3)]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

### 3. Кортежи и последовательности

In [29]:
t = 12345, 54321, 'hello!'

t

(12345, 54321, 'hello!')

In [30]:
t[0]

12345

In [31]:
t, (1, 2, 3, 4)

((12345, 54321, 'hello!'), (1, 2, 3, 4))

In [33]:
x, y, z = 1, 2, 3

[x, y, z]

[1, 2, 3]

In [34]:
x, y, z = t

[x, y, z]

[12345, 54321, 'hello!']

### 4. Множества

In [35]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

basket

{'apple', 'banana', 'orange', 'pear'}

In [36]:
'orange' in basket

True

In [37]:
'crabgrass' in basket

False

In [42]:
a = set([1, 2, 4, 6, 8, 10])

a

{1, 2, 4, 6, 8, 10}

In [41]:
b = set([1, 2, 4, 8, 16])

b

{1, 2, 4, 8, 16}

In [43]:
a - b

{6, 10}

In [44]:
a | b

{1, 2, 4, 6, 8, 10, 16}

In [45]:
a & b

{1, 2, 4, 8}

In [46]:
a ^ b

{6, 10, 16}

### 5. Словари

In [1]:
tel = {'jack': 4098, 'sape': 4139}

tel

{'jack': 4098, 'sape': 4139}

In [2]:
tel['jack']

4098

In [3]:
'jack' in tel

True

In [4]:
'guido' in tel

False

In [5]:
tel['guido'] = 4127

tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [6]:
del tel['sape']

tel

{'jack': 4098, 'guido': 4127}

In [7]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [8]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [9]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

### 6. Двоичные деревья

In [13]:
from collections import OrderedDict

od = OrderedDict({x: x**2 for x in range(5)})

od

OrderedDict([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)])